
<div class="content" role="main">
  <button class="btn btn-success" (click)="sidenav.toggle()">Menu</button>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      <button><a routerLink="employee" routerLinkActive="active">Employee</a></button>
      <button><a routerLink="department" >Department</a></button>
    </mat-sidenav>
  <div class="container">
    <p>Welcome to office organizer!!!!! Click the menu for more info! </p>
  </div>
</div>

<router-outlet></router-outlet>
